private/
.mscbackup
build/

# Latex 相关
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.idx
*.ind
*.ilg
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.bcf
*.run.xml
*.synctex.gz
*.fdb_latexmk
*.fls
*.xdv
*.dvi
*.ps
*.eps
*.bak
*.swp
*.swo